.avatar_content{
	position:relative;
	width:100%;
	height:auto;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	justify-content: center;
	align-items: center;
}


.avatar-large{
	position:relative;
	width:150px;
	height:auto;
	padding:15px;
	margin:30px;
	border-radius: 10px;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}

.avatar_content_large{
	position:relative;
	width:100%;
	overflow:hidden;
}

.avatar_content_large:nth-child(1){
	padding-bottom:10px;
}

.avatar_content_large:nth-child(2){
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
}

.avatar_image_large{
	width:100%;
	height:auto;
	border-radius: 50%;
}



.avatar-small{
	position:relative;
	width:auto;
	height:30px;
	padding:10px;
	border-radius: 10px;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}


.avatar_content_small{
	position:relative;
	width:auto;
	overflow:hidden;
	align-self:center;
}

.avatar_content_small:nth-child(1){
	height:100%;
	margin-right:8px;
}

.avatar_content_small:nth-child(2){
	font-family: 'Open Sans', sans-serif;
	height:auto;
	font-size:20px;
}


.avatar_image_small{
	width:auto;
	height:100%;
	border-radius: 50%;
}



