      <div class="cards_content">

        <div class="card">
          <div class='avatar-small'>
            <div class='avatar_content_small'>
              <img class="avatar_image_small" src="<%= image_path('hibou.png')%>" alt='Un hibou'>
            </div>
            <div class='avatar_content_small'>
              <span>Nom d'avatar</span>
            </div>
          </div>
          <div class="card_title">
            <h3 class="title">Super Card 1</h3>
          </div>
          <div class="card-category">
            <h4 class="categorie">nom de categorie</h4>
          </div>
        </div>


        <div class="card">
          <div class='avatar-small'>
            <div class='avatar_content_small'>
              <img class="avatar_image_small" src="<%= image_path('hibou.png')%>" alt='Un hibou'>
            </div>
            <div class='avatar_content_small'>
              <span>Nom d'avatar</span>
            </div>
          </div>
          <div class="card_title">
            <h3 class="title">Super Card 2</h3>
          </div>
          <div class="card-category">
            <h4 class="categorie">nom de categorie</h4>
          </div>
        </div>

        <div class="card">
          <div class='avatar-small'>
            <div class='avatar_content_small'>
              <img class="avatar_image_small" src="<%= image_path('hibou.png')%>" alt='Un hibou'>
            </div>
            <div class='avatar_content_small'>
              <span>Nom d'avatar</span>
            </div>
          </div>
          <div class="card_title">
            <h3 class="title">Super Card 3</h3>
          </div>
          <div class="card-category">
            <h4 class="categorie">nom de categorie</h4>
          </div>
        </div>

      </div>