<header>
    <ul class="list">
      <li class="list" href="index.html"> The REAL Hacking Project </li>
      <li class="list">
        <ul class="liste_boutton_header">
          <li class="list_boutton"><a href="#">News</a></li>
          <li class="list_boutton"><a href="#">About</a></li>
          <li class="list_boutton"><a href="#">Help</a></li>
        </ul>
      </li> 
      <li class="list">
        <div class="dropdown">
          <div class="dropbtn"><div class='avatar-small'>
            <div class='avatar_content_small'>
              <img class="avatar_image_small" src="<%= image_path('hibou.png')%>" alt='Un hibou'>
            </div>
            <div class='avatar_content_small'>
              <span>Nom d'avatar</span>
            </div>
          </div> </div>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</header>